@font-face {
  font-family: 'Strio';
  src: url('Strio-Black.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Strio';
  src: url('Strio-Heavy.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Strio';
  src: url('Strio-Medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Strio';
  src: url('Strio-Book.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Strio';
  src: url('Strio-Roman.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Strio';
  src: url('Strio-Light.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
